container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python Carletproject/manage.py migrate --noinput"
    leader_only: true

  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python Carletproject/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python Carletproject/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "Carletproject.settings"
    "PYTHONPATH": "/opt/python/current/app/Carletproject:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: Carletproject/Carletproject/wsgi.py
    NumProcesses: 3
    NumThreads: 20
