asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
Django==3.1.7
django-extensions==3.1.2
django-filter==2.4.0
django-phonenumber-field==5.0.0
djangorestframework==3.12.4
dnspython==2.1.0
email-validator==1.1.2
httpie==2.4.0
idna==2.10
phonenumbers==8.12.20
Pillow==8.1.2
psycopg2==2.8.6
py3dns==3.2.1
Pygments==2.8.1
PySocks==1.7.1
pytz==2021.1
requests==2.25.1
requests-toolbelt==0.9.1
sqlparse==0.4.1
urllib3==1.26.4
